/* @media(min-width:475px){
   
 } */

 /* @media(min-width:640px){
    
 } */

 /* @media(min-width:768px){
  
 } */

 /* @media(min-width:1024px){
  
 } */

 /* @media(min-width:1280px){
   
 } */

 /* @media(min-width:1536px){
   
 } */
 
 /* font-family: 'Pacifico', cursive; */


 *{
    margin: 0;
    padding: 0;
    line-height: 1.5;
   box-sizing: border-box;
  
   scroll-behavior: smooth;
}
:root{
 --clr-bg:#b1e6d4;
 --clr-bg2:#94abbd;
 --clr-bg3:#edcddc;
 --clr-bg4:#fbbedf;
 --clr-bg5:#a088b2;
 --clr-title:#1d6686;
 --clr-subtitle:#5dcab7;
 --clr-text:#d027e7;
 --clr-ul:#fff;

 /* background-image: linear-gradient(to left top, #b1e6d4, #a0e5e9, #a1e0fb, #b7d7ff, #d7ccfd, #ddc2f1, #e1b9e4, #e4b0d5, #d3a6cd, #c29cc4, #b192bb, #a088b2); */

  --size-xxs:0.5rem;
  --size-xs:0.75rem;
  --size-sm:0.875rem;
  --size-base:1rem;
  --size-lg:1.125rem;
  --size-xl:1.25rem;
  --size-2xl:1.5rem;
  --size-3xl:1.875rem;
  --size-4xl:2.25rem;
  --size-5xl:3rem;
  --size-6xl:3.75rem;
  --size-7xl:4.5rem;
  --size-8xl:6rem;
  --size-9xl:8rem;
  --size-10xl:10rem;



}


body{
font-family: 'General Sans', sans-serif;
color: antiquewhite;
}
img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: none;
}
button{
    display: inline;
    padding: 0;
    border: none;
    background:none ;
    cursor: pointer;
}
/* a{
    
}
span{

} */
.btn{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
   
    padding: 0.5em 1em;
    border-radius: 6px;
    /* box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose); */
    transition: all 0.3s;
}


.btn:hover{
    transform: translatey(-3px);
    /* box-shadow:0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose) ; */
}



.section{
    margin-top: 5rem;
}
.container{
width: 100%;
margin-left: auto;
margin-right: auto;
padding-left: 0.5rem;
padding-right: 0.5rem;
}
 /* indigo rgb(79, 70, 229)
 rose   rgb(225, 29, 72) */

::-webkit-scrollbar{
    width:15px;

}
::-webkit-scrollbar-track{
    background-color:  rgba(237, 205, 220, 0.4) ;
}
::-webkit-scrollbar-thumb{
    background-color: var(--clr-text);
    border-radius: 5px;
}
 @media(min-width:475px){
    .container{
        max-width: 475px;
    }
 }

 @media(min-width:640px){
    .container{
        max-width: 640px;
    }
 }

 @media(min-width:768px){
    .container{
        max-width: 768px;
    }
 }

 @media(min-width:1024px){
    .container{
        max-width: 1024px;
    }
 }

 @media(min-width:1280px){
    .container{
        max-width: 1280px;
    }
 }

 @media(min-width:1536px){
    .container{
        max-width: 1536px;
    }
    
.section{
    margin-top: 10rem;
}

}






  
  